h1, h2, h3, p {
    font-family: Helvetica;
}

h1{
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("/static/images/img1.jpeg");
}

.item h2 {
    color: white;
    font-size: 32px;
}

#brush {
    background-color: mediumspringgreen;
}

#frame {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.price {
    color: blue;
    font-weight: bold;
}